<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">    <title>Landing Page &ndash; Layout Examples &ndash; Pure</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i,800&display=swap" rel="stylesheet">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ asset('/css/layouts/marketing-old-ie.css') }}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ asset('/css/layouts/marketing.css') }}">

    <style>
        h2{
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 32px;
        }
        .menu-wrap{
            background: #0052B4;
            height: 90px;
        }

        .menu-wrap>div{
            height: 100%;
        }

        .profile-circle{
            width: 58px;
            height: 58px;
            border-radius: 50%;
            background: #A0A0A0;
            margin: 16px auto auto 24px;
            display: inline-block;
        }

        .welcome-user{
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #f2f2f2;
        }

        .profile-datos{
            display: inline-block;
        }

        .bold{
            font-weight: bold;
        }

        img.img-logo{
            width: auto;
        }

        .row{
            height: 67px;
        }

        .row.open{
            height: 161px;
        }

        .row-thin{
            height: 47px;
            width: 100%;

        }

        .row span{
            line-height: 67px;
        }

        .row-thin span{
            line-height: 47px !important;
        }

        .item-menu{
            background: #27115B;
            text-align: center;
        }

        .item-menu span{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 67px;
            /* identical to box height */

            text-align: center;

            color: #FFFFFF;
        }

        .active,
        .item-submenu:hover,
        .item-menu:hover{
            background: #68DBD6 !important;
        }

        .item-submenu{
            font-family: Gotham;
            font-size: 20px;
            line-height: 24px;
            /* identical to box height */

            text-align: center;
            letter-spacing: -0.02em;

            color: #FFFFFF;
            background: #593C9D;
        }

        .expandible{
            overflow: hidden;
            cursor: pointer;
        }

        .expandible .row:after {
            content: "";
            height: 20px;
            width: 20px;
            background: url({{ asset('/img/common/arrow-white.svg') }}) no-repeat;
            background-position: center;
            display: block;
            /* position: absolute; */
            margin-top: -44px;
            margin-left: 84%;
            transform: rotate(180deg);
            transition: all 500ms;
        }

        .expandible.open .row:after {
            content: "";
            transform: rotate(0deg);
        }

        span.btn-visibility.visible{
            width: 24px;
            height: 24px;
            display: inline-block;
            background: url({{ asset('/img/common/eye-open.svg') }}) no-repeat;
            background-size: contain;
            background-position: center;
        }

        span.btn-visibility.hide{
            width: 24px;
            height: 24px;
            display: inline-block;
            background: url({{ asset('/img/common/eye-close.svg') }}) no-repeat;
            background-size: contain;
            background-position: center;
        }

        span.btn-edit{
            width: 24px;
            height: 24px;
            display: inline-block;
            background: url({{ asset('/img/common/edit.svg') }}) no-repeat;
            background-size: contain;
            background-position: center;
        }

        .tb-option-buttons{
            text-align: center;
            line-height: 47px;
            height: 100%;
        }

        .tb-option-buttons span{
            line-height: 47px;
            cursor: pointer;
        }

        .tb-option-buttons span:last-child{
            margin-left: 24px;
        }

        .tb-head{
            background: #C4C4C4;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            text-align: center;
            color: #FFFFFF;
        }

        .tb-options{
            background: #593C9D;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 21px;
            line-height: 31px;
            text-align: center;
            color: #FFFFFF;
        }

        .tb-first-padding{
            padding-left: 20px;
        }

        .tb-row{
            text-align: left;
        }

        .text-truncate{
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 90%;
        }

        .frm-block{
            padding-left: 36px;
            padding-right: 36px;
        }

        .pure-form label{
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 130.7%;
            /* or 24px */


            /* Gray 3 */

            color: #828282;
        }

        #success-area h3{
            overflow: hidden;
        }

        #success-area h3{
            text-align: left;
            display: none;
        }

        #success-area.show h3{
            display: inline-block;
        }

        #listado{
            max-height: 400px;
            height: 400px;
            overflow-y: auto;
        }
    </style>

    {% block customCss %} {% endblock %}
</head>
<body>
<div class="header">
    <div class="pure-g menu-wrap">
        <div class="pure-u-6-24">
            <div class="profile-circle"></div>
            <div class="profile-datos">
                <p class="welcome-user">Usuario: {{user.cod}}</p>
                <p class="welcome-user bold">Bienvenido/a {{ user.name }}</p>
            </div>
        </div>
        <div class="pure-u-12-24">&nbsp;</div>
        <div class="pure-u-6-24">
            <img class="pure-img-responsive img-logo" src="{{ asset('/img/common/logo-25.png') }}">
        </div>
    </div>
</div>

<div class="pure-g">
    <div class="pure-u-6-24">
        <div class="pure-u-1 row">
            <span><h2>MENÚ</h2></span>
        </div>
        <div class="pure-u-1 row item-menu {{ is_current_path('back-home')?'active':'' }}">
            <a href="{{ path_for('back-home') }}"><span class="">Entradas</span></a>
        </div>
        <div class="pure-u-1 item-menu row expandible {{ (is_current_path('back-video',{'type':'video'}) or is_current_path('back-video',{'type':'podcast'}))?'open':'' }}">
            <div class="row">
                <span class="">Entrevistas</span>
            </div>

            <div class="pure-g-1 row-thin item-submenu {{ is_current_path('back-video',{'type':'video'})?'active':'' }}">
                <a href="{{ path_for('back-video',{'type':'video'}) }}"><span>Videos</span></a>
            </div>
            <div class="pure-g-1 row-thin item-submenu {{ is_current_path('back-video',{'type':'podcast'})?'active':'' }}">
                <a href="{{ path_for('back-video',{'type':'podcast'}) }}"><span>Podcast</span></a>
            </div>
        </div>
        <div class="pure-u-1 item-menu row">
            <span class="item-menu">Comentarios</span>
        </div>
    </div>
    <div class="pure-u-18-24">
        {% block content %} {% endblock %}
    </div>
</div>



</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="{{ asset('/js/menu.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/autoresize.jquery.js') }}" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        $('button[data-href], div[data-href]').on('click',function(){

            var href = $(this).data('href');
            // similar behavior as clicking on a link
            window.location.href = href;
        })

        $('.arrow-to-up').click(function() {
            $("html, body").animate({scrollTop: 0}, 500);
        });
        $('textarea').autoResize();

        $('.expandible .row').on('click',function(){
            $(this).parent().toggleClass('open');
        })
    })


</script>
{% block customJs %} {% endblock %}
</html>