{% extends "back/base.twig" %}

{% block customCss %}

{% endblock %}
{% block content %}
    <div class="pure-g tb-head">
        <div class="pure-u-4-5">
            <div class="row tb-row tb-first-padding">
                <span>Editar entradas</span>
            </div>
        </div>
        <div class="pure-u-1-5 tb-options">
            <div class="row">
                <a href="{{ path_for('back-home') }}">
                    <span style="color: white">Volver</span>
                </a>

            </div>
        </div>
    </div>
    <div class="pure-g">
        <div class="row-thin tb-row" style="border-bottom: 1px solid #a0a0a0">
            <div class="pure-u-1-5">
                <div class="tb-first-padding">
                    <span>{{entrada.apellido}}, {{entrada.nombre}}</span>
                </div>
            </div>
            <div class="pure-u-1-5">
                <div class="">
                    <span>{{entrada.email}}</span>
                </div>
            </div>
            <div class="pure-u-1-5">
                <div class="">
                    <span>{{entrada.tipo}}</span>
                </div>
            </div>
            <div class="pure-u-1-5">
                <div class="">
                    <span>{{entrada.fecha_pub}}</span>
                </div>
            </div>
            <div class="pure-u-1-5 tb-option-buttons ">
                <span class="btn-visibility visible"></span>
                <span class="btn-edit"></span>

            </div>
        </div>
    </div>
    <form id="entradas" method="post" action="{{ path_for('save-edit') }}" class="pure-form pure-form-stacked">
        <fieldset>

            <div class="pure-g">

                <input name="id" type="hidden" value="{{ entrada.id }}">
                <input type="hidden" name="visible" value="{{ entrada.aprobado }}">
                <div class="pure-u-1-2 frm-block ">
                    <label for="first-name">Titulo</label>
                    <input value="{{ entrada.titulo }}" required name="titulo" class="pure-u-23-24" type="text">
                </div>

                <div class="pure-u-1-2 frm-block ">
                    <label for="last-name">Año de la experiencia</label>
                    <select  name="year" class="pure-input-1 pure-u-1">
                        {% for i in range(1995, 2019) %}
                            <option {{ (entrada.year == i)?'selected':'' }}>{{ i }}</option>
                        {% endfor %}

                    </select>
                </div>

                <div class="pure-u-1-2 frm-block mvspace">
                    <label for="last-name">Descripcion</label>
                    <textarea required name="descripcion" id="last-name" class="pure-u-23-24" type="text">
                        {{ entrada.descripcion|trim}}
                    </textarea>
                </div>

                <div class="pure-u-1-2 frm-block mvspace">
                    <label for="last-name">Archivo</label>
                    <div id="ficheros">
                        {% if entrada.archivo != "" %}
                            {% if entrada.tipo == 'img' %}
                                <img style="width: 100%" src="../../{{ entrada.archivo }}" height="300px">
                            {% elseif entrada.tipo == 'aud'%}
                                <audio controls width="100%" height="300px">
                                    <source src="../../{{ entrada.archivo }}" >
                                    Your browser does not support the audio element.
                                </audio>
                            {% elseif entrada.tipo == 'vid' %}
                                <video controls width="100%" height="300px">
                                    <source src="../../{{ entrada.archivo }}" >
                                    Your browser does not support the audio element.
                                </video>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="pure-u-1-5 mvspace"><button type="submit" class="btn-mm blue">GUARDAR CAMBIOS</button></div>
                <div id="success-area" class="pure-u-4-5 mvspace">
                    <h3>Entrada actualizada con Exito</h3>
                </div>


            </div>
        </fieldset>
    </form>
{% endblock %}
