{% extends "back/base.twig" %}

{% block customCss %}

{% endblock %}
{% block content %}
    <div class="pure-g tb-head">
        <div class="pure-u-1-5">
            <div class="row">
                <span>Nombre</span>
            </div>
        </div>
        <div class="pure-u-1-5">
            <div class="row">
                <span>Correo</span>
            </div>
        </div>
        <div class="pure-u-1-5">
            <div class="row">
                <span>Contenido</span>
            </div>
        </div>
        <div class="pure-u-1-5">
            <div class="row">
                <span>Fecha de Entrada</span>
            </div>
        </div>
        <div class="pure-u-1-5 tb-options">
            <div class="row">
                <span>Opciones</span>
            </div>
        </div>
    </div>
    <div class="pure-g">

        {% for entrada in entradas %}
            <div class="row-thin tb-row" data-id="{{entrada.id}}">
                <div class="pure-u-1-5">
                    <div class="tb-first-padding">
                        <span class="text-truncate">{{entrada.apellido}}, {{entrada.nombre}}</span>
                    </div>
                </div>
                <div class="pure-u-1-5">
                    <div class="">
                        <span>{{entrada.email}}</span>
                    </div>
                </div>
                <div class="pure-u-1-5">
                    <div class="is-center">
                        <span>{{entrada.tipo}}</span>
                    </div>
                </div>
                <div class="pure-u-1-5">
                    <div class="">
                        <span>{{entrada.fecha_pub}}</span>
                    </div>
                </div>
                <div class="pure-u-1-5 tb-option-buttons ">
                    <span class="btn-visibility {{ (entrada.aprobado==1)?"visible":"hide" }}"></span>
                    <a href="{{ path_for('entrada-edit',{'id':entrada.id}) }}"><span class="btn-edit"></span></a>

                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}

{% block customJs %}
    <script>
        $('.btn-visibility').on('click',function(){
            aprob = !$(this).hasClass('visible');
            $.ajax({
                type:'POST',
                url:'{{ path_for('toggle-aprob') }}',
                data:{
                    'aprobado':aprob,
                    'id':$(this).parents('.tb-row').first().data('id')
                },
                dataType:'JSON',
                success:function(resp){
                    console.log(resp)
                }
            });
            if(aprob){
                $(this).removeClass('hide').addClass('visible');
            }else{
                $(this).removeClass('visible').addClass('hide');
            }
        })
    </script>
{% endblock %}
