{% extends "back/base.twig" %}
{% block customCss %}
<style>

</style>
{% endblock %}
{% block content %}
    <div class="pure-g tb-head">
        <div class="pure-u-1">
            <div class="row tb-row tb-first-padding">
                <span >Subir Video</span>
            </div>
        </div>

    </div>
    <div class="pure-g">
        <form id="entrevistas-video" class="pure-form pure-form-stacked">
            <fieldset>

                <div class="pure-g">
                    <input name="id" type="hidden" value="">
                    <div class="pure-u-1-2 frm-block ">
                        <label for="first-name">Titulo</label>
                        <input required name="titulo" class="pure-u-23-24" type="text">
                    </div>

                    <div class="pure-u-1-2 frm-block ">
                        <label for="last-name">Nombre del entrevistador</label>
                        <input required name="entrevistado" id="last-name" class="pure-u-23-24" type="text">
                    </div>

                    <div class="pure-u-1-2 frm-block mvspace">
                        <label for="last-name">Insertar URL del video</label>
                        <input required name="url-1" id="last-name" class="pure-u-23-24" type="text">
                    </div>

                    <div class="pure-u-1-2 frm-block mvspace">
                        <label for="last-name">Descripcion</label>
                        <textarea required name="descrip" id="last-name" class="pure-u-23-24" type="text"></textarea>
                    </div>

                    <div class="pure-u-1-2 frm-block mvspace">
                        <label for="last-name">Cover del video</label>
                        <input name="cover" type="file" accept="image/*">
                    </div>

                    <div id="success-area" class="pure-u-4-5 mvspace">
                        <h3>Entrevista cargada con exito</h3>
                    </div>
                    <div class="pure-u-1-5 mvspace"><button type="submit" class="btn-mm blue">GUARDAR CAMBIOS</button></div>



                </div>
            </fieldset>
        </form>
    </div>

    <div class="pure-g tb-head mvspace">
        <div class="pure-u-4-5">
            <div class="row tb-row tb-first-padding">
                <span>Otras entradas de video</span>
            </div>
        </div>
        <div class="pure-u-1-5 tb-options">
            <div class="row">
                <span>Opciones</span>
            </div>
        </div>
    </div>

    <div id="listado" class="pure-g ">

        {% for d in data %}
            <div  class="row-thin tb-row template">
                <div class="pure-u-1-5">
                    <div class="tb-first-padding">
                        <span class="titulo">{{ d.titulo }}</span>
                    </div>
                </div>
                <div class="pure-u-1-5">
                    <div class="">
                        <span class="entrev">{{ d.entrevistador }}</span>
                    </div>
                </div>
                <div class="pure-u-1-5">
                    <div class="">
                        <span class="url-1 text-truncate">{{ d.url_1 }}</span>
                    </div>
                </div>
                <div class="pure-u-1-5">
                    <div class="">
                        <span class="fecha">{{ d.fecha_pub }}</span>
                    </div>
                </div>
                <div hidden class="descrip">{{ d.descripcion }}</div>

                <div class="pure-u-1-5 tb-option-buttons data" data-id="{{ d.id }}">
                    <span class="btn-visibility {{ (d.visible==1)?"visible":"hide" }}"></span>
                    <span class="btn-edit"></span>

                </div>
            </div>
        {% endfor %}

    </div>

    <div class="vspace"></div>
{% endblock %}

{% block customJs %}
    <script>
        $('#entrevistas-video').on('submit',function (e){
            e.preventDefault();
            upd = $(this).find("[name=id]").val() != "";

            titulo = $("[name='titulo']").val();
            entrevistado = $("[name='entrevistado']").val();
            url = $("[name='url-1']").val();
            descrip = $("[name='descrip']").val();
            cover = $("[name='cover']").val();
            var file = $("[name='cover']")[0].files[0];

            var frm = new FormData();
            frm.append('titulo',titulo);
            frm.append('entrevistado',entrevistado);
            frm.append('url-1',url);
            frm.append('descrip',descrip);
            frm.append('descripcion',descrip);
            frm.append('cover',file);

            $.ajax({
                type:'POST',
                url:'{{ path_for('create-video') }}',
                data:frm,
                processData: false,
                contentType: false,
                success:function(resp){
                    $('#success-area').addClass('show');
                    setTimeout(function(){
                        $('#success-area').removeClass('show');
                    },1000)
                    if(upd){
                        $template = $('#listado').find('[data-id='+resp.id+']').parent('.tb-row').first();
                    }else{
                        $template = $('.template').first().clone()
                    }

                    console.log($template)

                    $template.find('.titulo').html(resp.titulo);
                    $template.find('.entrev').html(resp.entrevistador);
                    $template.find('.urls').html(resp.url_1);
                    $template.find('.fecha').html(resp.fecha_pub);
                    $template.find('.descrip').html(resp.descripcion);
                    $template.find('[data-id]').data('id',resp.id);
                    if(!upd){
                        $template.prependTo('#listado');
                    }


                }
            });
            $(this)[0].reset();
            $(this).find("[name=id]").val('');

        })

        $('.btn-visibility').on('click',function(){
            visible = !$(this).hasClass('visible');
            $.ajax({
                type:'POST',
                url:'{{ path_for('toggle-vis') }}',
                data:{
                    'visible':visible,
                    'id':$(this).parent('.data').data('id')
                },
                dataType:'JSON',
                success:function(resp){
                    console.log(resp)
                }
            });
            if(visible){
                $(this).removeClass('hide').addClass('visible');
            }else{
                $(this).removeClass('visible').addClass('hide');
            }
        });

        $('.btn-edit').on('click',function(){
            //console.log('entro')
            $frm = $('#entrevistas-video');
            $row = $(this).parents('.tb-row').first();
            //console.log($frm)
            var id = $(this).parent('.data').data('id');
            $frm.find("[name='id']").val(id);
            $frm.find("[name='titulo']").val($row.find('.titulo').html());
            $frm.find("[name='entrevistado']").val($row.find('.entrev').html());
            $frm.find("[name='url-1']").val($row.find('.url-1').html());
            $frm.find("[name='descrip']").val($row.find('.descrip').html());
            $frm.find("[name='descrip']").change()


        })
    </script>
{% endblock %}
