<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>Marco MKT 25 Years</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i,800&display=swap" rel="stylesheet">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ asset('/css/layouts/marketing-old-ie.css') }}">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{ asset('/css/layouts/marketing.css') }}">
    <!--<![endif]-->
    <link rel="stylesheet" href="{{ asset('/css/layouts/menu.css') }}">
    <script src="https://cdn.pagesense.io/js/marcomarketing/3afc6705e854467f8953a41f7eecc636.js"></script>

    {% block customCss %} {% endblock %}
</head>
<body>
{% block menu %}
    {{ include('header.twig') }}
{% endblock %}

{% block content %} {% endblock %}

<div class="footer pure-g bg-footer">
    <div id="fake-chat" style="">
        <span style="font-family: Gotham;font-size: 15px;line-height: 44px;color: #F2F2F2;letter-spacing: 1px;"><span class="msg-icon"></span> Lorem ipsum</span>
    </div>
    <div class="arrow-to-up">

    </div>
    <div class="pure-u-1 pure-u-lg-1-3 accesos">
        <div class="pure-u-1 link-bold">Accesos</div>
        <div class="pure-u-1 link"><a style="color:white;" href="{{ path_for('entrevistas') }}">Lado A</a></div>
        <div class="pure-u-1 link"><a href="{{ path_for('contamos') }}" style="color:white;">Lado B</a></div>
        <div class="pure-u-1 link"><a href="{{ path_for('contacto') }}" style="color:white;">Contacto</a></div>
        <div class="pure-u-1 link"><a target="_blank" href="https://marcomkt.com/" style="color:white;">Marco MKT</a></div>
    </div>
    <div class="pure-u-1 pure-u-lg-1-3 is-center logo-area">
        <img class="logo-footer" src="{{ asset('/img/common/logoM25_YEARS-footer.png') }}" >
    </div>
    <div class="pure-u-1 pure-u-lg-1-3 social-wrap">
        <div class="pure-u-1 link-bold">Síguenos en nuestras redes
        </div>
        <div class='pure-u-1' style="margin-top: 20px;margin-bottom: 10px;">
            <div class="social-item"><a href="https://www.youtube.com/channel/UCKNfN9FADOjCc9ueuc6smeA" target="_blank"><div id="yt" ></div></a></div>
            <div class="social-item"><a href="https://www.facebook.com/MarcoMarketingLatam/" target="_blank"><div id="fb" ></div></a></div>
            <div class="social-item"><a href="https://www.instagram.com/marcomktlatam/" target="_blank"><div id="ig" ></div></a></div>
            <div class="social-item"><a href="https://www.linkedin.com/company/11435607/admin/" target="_blank"><div id="ln" ></div></a></div>
            <div class="social-item"><a href="https://marcomkt.com/blog-es/" target="_blank"><div id="bl" ></div></a></div>
            {#<div class="social-item"><div id="tw" ></div></div>#}
        </div>



    </div>

</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="{{ asset('/js/menu.js') }}" type="text/javascript"></script>
<script src="{{ asset('/js/autoresize.jquery.js') }}" type="text/javascript"></script>
<script>
    $(document).ready(function(){
        $('button[data-href], div[data-href]').on('click',function(){

            var href = $(this).data('href');
            // similar behavior as clicking on a link
            window.location.href = href;
        })

        $('.arrow-to-up').click(function() {
            $("html, body").animate({scrollTop: 0}, 500);
        });
        $('textarea').autoResize();
    })
</script>
{% block customJs %} {% endblock %}
</html>
