{% extends "base.twig" %}

{% block customCss %}
<style>
    .container{
        margin-right: 1em;
        margin-left: 1em;
    }
    h2{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        color: #27115B;
        text-align: left;
    }

    h3{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #4F4F4F;
        text-align: left;
    }

    .title-step{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #828282;
        margin-bottom: 2em;
    }

    .step-num {
        display: inline-block;
        text-align: center;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: #828282;
        font-family: Gotham;
        font-size: 15px;
        line-height: 30px;
        color: #FFFFFF;
    }

    .medio-item{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        margin-right: 1em;
        margin-bottom: 20px;
        background-color: #68DBD6;
    }

    .medio-item:last-child{
        margin-right: auto;
    }

    .medio-item.active,
    .medio-item:hover{
        background-color: #0052B4;
    }



    .medio-item.img:after{
        content: "";
        background:url({{ asset('/img/common/img-line.svg') }}) no-repeat center;
        width: 100%;
        height: 100%;
        display: block;
        background-size: 3em;
    }

    .medio-item.video:after{
        content: "";
        background:url({{ asset('/img/common/video-line.svg') }}) no-repeat center;
        width: 100%;
        height: 100%;
        display: block;
        background-size: 2em;
    }
    .medio-item.notes:after{
        content: "";
        background:url({{ asset('/img/common/note-line.svg') }}) no-repeat center;
        width: 100%;
        height: 100%;
        display: block;
        background-size: 2em;
    }
    .medio-item.audio:after{
        content: "";
        background:url({{ asset('/img/common/audio-line.svg') }}) no-repeat center;
        width: 100%;
        height: 100%;
        display: block;
        background-size: 2em;
    }

    .medio-sub{
        position: absolute;
        margin-top: 85px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 130.7%;
        text-align: center;
        color: #4F4F4F;
        width: 80px;
    }

    .subt-step{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 130.7%;
        /* or 17px */


        /* Gray 3 */

        color: #828282;
    }

    .frm-step{
        padding-bottom: 48px;
        padding-top: 32px;
        border-bottom: 1px solid #BDBDBD;
    }



    .pure-form input[type]:not([type='checkbox']), .pure-form textarea{
        background: #E0E0E0;
        border-radius: 8px;
        border: none;
        height: 44px;

        font-family: Gotham;
        font-size: 13px;
        line-height: 130.7%;
        color: #4F4F4F;
        padding-left: 19px;
    }

    .pure-form [required]:invalid.error{
        border-color: red;
        border: 1px solid;
        color: red;
    }

    .pure-form select{
        font-family: Gotham;
        font-size: 13px;
        line-height: 130.7%;
        color: #4F4F4F;
        padding-left: 19px;


        height: 44px;
    }

    .pure-form input[type='checkbox']{
        width: 22px;
        height: 22px;

        background: #C4C4C4;
        border: 1px solid #828282;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .pure-form fieldset .pure-u-4-5:after{
        content: "";
        background: url({{ asset('/img/common/locked-icon.svg') }}) no-repeat;
        width: 1em;
        height: 1em;
    }

    .modal-success, .modal-waiting{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-color: rgba(51,51,51,.8);
        display: none;
    }

    .modal-success.open, .modal-waiting.open{
        display: block;
        z-index: 3;
    }

    .msg-success{
        min-height: 300px;

        max-width: 581px;
        min-width: 300px;
        width: 90%;
        background: #FFFFFF;
        box-shadow: 1px 1px 20px rgba(0, 82, 180, 0.25);
        border-radius: 18px;
        margin: auto;
        margin-top: calc(50vh - 188px);
    }

    .close-modal{
        float: right;
        margin-right: 2em;
        margin-top: 1em;
        width: 30px;
        height: 30px;
        background: url("{{ asset('/img/close-modal.png') }}") no-repeat center / contain;
        cursor: pointer;
    }

</style>
{% endblock %}

{% block customJs %}
    <script>
        $('#send').on('click',function (e) {
            e.preventDefault()



            var required = $('#frm-entradas').find('[required]:invalid');
            if(required.length > 0){
                required.each(function(){
                    $(this).addClass('error');
                });
                required.first().focus();
                return false;
            }else{
                //$('#myModal').modal('hide');
            }

            //console.log('entroooo')

            if(!$('.terms-inp').is(':checked')){
                console.log('entroooo')
                $('#must-read').html('Debes leer y aceptar los términos. y condiciones');
                /*setTimeout(function(){
                    $("#must-read").html("");
                },1000)*/
                return false
            }
            tipo = $("[name='tipo']").val();
            var file = $("[name='files']")[0].files[0];

            if(tipo!='not' && (file == null)){
                $('#must-read').html('Debes cargar al menos un archivo');
                setTimeout(function(){
                    $("#must-read").html("");
                },1000)
                return false
            }

            $('.modal-waiting').addClass('open');


            nombre = $("[name='nombre']").val();
            apellido = $("[name='apellido']").val();
            email = $("[name='email']").val();
            titulo = $("[name='titulo']").val();
            descrip = $("[name='descripcion']").val();
            rela = $("[name='relacion']").val();
            year = $("[name='year']").val();

            //var myform = document.getElementById("frm-entradas");
            var frm = new FormData();
            frm.append('nombre',nombre);
            frm.append('apellido',apellido);
            frm.append('email',email);
            frm.append('titulo',titulo);
            frm.append('descripcion',descrip);
            frm.append('relacion',rela);
            frm.append('year',year);
            frm.append('tipo',tipo);

            frm.append('file',file);
            $.ajax({
                type:'POST',
                url:'{{ path_for('create-entry') }}',
                data:frm,
                processData: false,
                contentType: false,
                success:function(resp){
                    $('.modal-waiting').removeClass('open');
                    $('.modal-success').addClass('open');
                    $('#frm-entradas')[0].reset();
                    $('#frm-entradas').find('[required]:invalid').removeClass('error')
                }
            });

        });

        $('.close-modal').on('click',function () {
            $('.modal-success').removeClass('open');
        });

        var medioAccept = {
            'img' : "image/*",
            'vid' : "audio/*",
            'aud' : "video/*",
        };

        var valueMedio = {
            'img' : {
                'size':10,
                'formats':['jpg','jpeg','bmp','png','gif','webp'],
            },
            'vid' : {
                'size':50,
                'formats':['mp4','3gp','wmv','mov','MPEG-4','flv','avi','mkv','webm']
            },
            'aud' : {
                'size':15,
                'formats':['mp3','aac','ogg','wav','vorbis'],
            },
        }

        $('.medio-item').on('click',function(){
            $('.medio-item').removeClass('active');
            $(this).addClass('active');
            var tipo = $(this).data('tipo');
            $('[name=tipo]').val(tipo);
            $('[name=files]').val('');
            $('[name=files]').change();
            $('[name=files]').attr('accept',tipo);
            if(!$(this).hasClass('notes')){
                $('#files-area').removeAttr('hidden')
                $('#format-accept').html(valueMedio[tipo].formats.join(', '))
                $('#max-size').html("Max size "+valueMedio[tipo].size+" mb")
            }else{
                $('#files-area').attr('hidden','1')
                $('#format-accept,#max-size').html('');
            }
        })

        $('#load-files').on('click',function(e){
            e.preventDefault();
            $('[name=files]').trigger('click');
        })

        $('[name=files]').change(function (e) {
            e.preventDefault();
            var file = $(this)[0].files[0];

            if(file){
                var typeSel = $('[name=tipo]').val();
                var config =  valueMedio[typeSel];
                var size = file.size/1000000;
                var tipo = file.type.split('/')[1];
                if(config.formats.indexOf(tipo)==-1){
                    $("#error-file").html("Formato Invalido");
                    $(this).val('');
                    $(this)[0].files = null;
                }else if(size > config.size){
                    $("#error-file").html("Archivo demasiado Grande");
                    $(this).val('');
                    $(this)[0].files = null;
                }else{
                    $("#loaded-files").html(file.name);
                }

                setTimeout(function(){
                    $("#error-file").html("");
                },1000)

            }

        });





    </script>

{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="pure-g">

            <form id="frm-entradas" class="pure-form pure-form-stacked">

                <div class="pure-u-1">
                    <h2 style="margin-bottom: 0px">Cuéntanos tu historia</h2>
                    <h3 style="margin-top: 0px">Las cosas más valiosas de la vida son las personas, los lugares, las memorias, las imágenes, los entimientos, las emociones, los momentos memorables, las sonrisas y la alegría en recordarlas.</h3>
                    <h3 style="margin-top: 0px">¡Ahora es momento de revivir esas buenas experiencias!</h3>
                    <h3 style="margin-top: 0px">Sigue los sencillos pasos y recuerda que es un espacio entre amigos en el cual hablamos con respeto y cariño en todo momento.</h3>
                </div>
                <div class="pure-u-1 frm-step">
                    <div class="title-step pure-u-1">
                        <span class="step-num">1.</span>
                        Elige un formato.
                    </div>
                    <div class="pure-u-1">
                        <div data-tipo="img" class="medio-item img">
                            <div class="medio-sub">
                                Imagen
                            </div>
                        </div>

                        <div data-tipo="vid" class="medio-item video">
                            <div class="medio-sub">
                                Video
                            </div>
                        </div>

                        <div data-tipo="not" class="medio-item notes">
                            <div class="medio-sub">
                                Nota
                            </div>
                        </div>

                        <div data-tipo="aud" class="medio-item audio">
                            <div class="medio-sub">
                                Audio
                            </div>
                        </div>
                        <div class="pure-u-1">
                            <span id="format-accept" style="padding-left: 1em" class="subt-step"> </span>
                            <br>
                            <span id="max-size" style="padding-left: 1em" class="subt-step">  </span>
                        </div>
                    </div>

                    <div id="files-area" hidden class="pure-g">
                        <div class="pure-u-1-2 mvspace">
                            <button id="load-files" class="btn-mm blue">CARGA TU ARCHIVO</button>
                            <input name="files" type="file"  hidden value="">
                            <span id="error-file" class="medio-sub" style="margin-top: 1em; width: 200px"></span>
                        </div>
                        <div class="pure-u-1 mvspace">
                            <span class="subt-step">Cargados: <span id="loaded-files"></span></span>
                        </div>
                    </div>
                    <input name="tipo" type="hidden" value="">


                </div>

                <div class="pure-u-1 frm-step">
                    <div class="title-step pure-u-1">
                        <span class="step-num">2.</span>
                        Déjanos saber quien eres.
                    </div>
                    <div class="pure-u-1">

                            <fieldset>
                                <div class="pure-g">
                                    <div class="pure-u-4-5">
                                        <input required name="nombre" class="pure-u-1" type="text" placeholder="Nombre">
                                    </div>

                                    <div class="pure-u-4-5">
                                        <input required name="apellido" class="pure-u-1" type="text" placeholder="Apellido">
                                    </div>

                                    <div class="pure-u-4-5">
                                        <input required name="email" class="pure-u-1" type="text" placeholder="Email">
                                    </div>
                                </div>

                            </fieldset>
                    </div>

                </div>

                <div class="pure-u-1 frm-step">
                    <div class="title-step pure-u-1">
                        <span class="step-num">3.</span>
                        Título de tu historia
                    </div>
                    <div class="pure-u-1">
                            <fieldset>
                                <div class="pure-g">
                                    <div class="pure-u-4-5">
                                        <input required name="titulo" class="pure-u-1" type="text" placeholder="Titulo">
                                    </div>
                                </div>
                            </fieldset>
                    </div>

                </div>

                <div class="pure-u-1 frm-step">
                    <div class="title-step pure-u-1">
                        <span class="step-num">4.</span>
                        Describe tu historia
                    </div>
                    <div class="pure-u-1">
                            <fieldset>
                                <div class="pure-g">
                                    <div class="pure-u-4-5">
                                        <textarea required name="descripcion" class="pure-u-1" type="text" placeholder="Tu historia"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                    </div>

                </div>
                <div class="pure-u-1 frm-step">
                    <div class="title-step pure-u-1">
                        <span class="step-num">5.</span>
                        ¿De que año es tu historia?
                    </div>
                    <div class="pure-u-1">
                            <fieldset>
                                <div class="pure-g">
                                    <div class="pure-u-4-5">
                                        <select  name="year" class="pure-input-1 pure-u-1">
                                            {% for i in range(1995, 2019) %}
                                                <option>{{ i }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                    </div>


                </div>

                <div class="pure-u-1 frm-step">
                    <div class="title-step pure-u-1">
                        <span class="step-num">6.</span>
                        ¿Qué te une a Marco?
                    </div>
                    <div class="pure-u-1">
                        <fieldset>
                            <div class="pure-g">
                                <div class="pure-u-4-5">
                                    <select name="relacion" class="pure-input-1 pure-u-1">
                                        <option>Trabajo en Marco</option>
                                        <option>Cliente</option>
                                        <option>Soy familiar de alguien que trabaja en/con Marco</option>
                                        <option>Soy familiar de alguien que trabajó en/con Marco</option>
                                    </select>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="pure-u-1 mvspace">
                        <div class="pure-g">
                            <div class="pure-u-4-5">

                                <label for="option-one" class="pure-checkbox">
                                    <input class="terms-inp" id="option-one" type="checkbox" value="">
                                    He leído y acepto los <a style="color: #0052B4; text-decoration: underline;" id="terms-link" target="_blank" href="{{ path_for('termcond') }}"> términos y condiciones.</a>
                                </label>
                            </div>
                        </div>
                        <div class="pure-u-1 mvspace">
                            <button id="send" class="btn-mm terms-inp">¡participa ahora!</button>
                            <span id="must-read" class="medio-sub" style="margin-top: 1em; width: 200px"></span>
                        </div>

                    </div>
                </div>


            </form>

        </div>
    </div>
</div>

    <div class="modal-success">
        <div class="msg-success pure-g">
            <div class="pure-u-1">
                <div class="close-modal">

                </div>
            </div>
            <div class="pure-u-1 pure-u-1-2 is-center ">
                <img class="pure-img-responsive" src="{{ asset('/img/contact-success.png') }}">
            </div>
            <div class="pure-u-1 pure-u-1-2 ">
                <h2 class="is-center no-margin-bottom" style="font-size: 28px; line-height: 32px">Gracias por compartir tu historia .</h2>
                <h3 class="is-center no-margin-top">te hemos enviado un mensaje a tu mail con algunas notas.
                </h3>
            </div>


        </div>
    </div>

    <div class="modal-waiting">
        <div class="msg-success pure-g">
            <img style="width: 100%; height: 100%" src="{{ asset('/img/PreLoaders.gif') }}">
        </div>
    </div>

{% endblock %}
