{% extends "base.twig" %}

{% block customCss %}
    <link rel="stylesheet" href="{{ asset('/css/layouts/cards.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/layouts/entrevistas.css') }}">

    <style>
        .vspace{
            height: 40px;
            width: 100%;
        }
        .card-interview{
            margin-top: 2em;
            min-height: 303px;
            width: 100%;
            max-width: 800px;
            background: #FFFFFF;
            box-shadow: 1px 1px 20px rgba(0, 82, 180, 0.25);
            border-radius: 18px;
            display: inline-block;
            overflow-x: hidden;
        }

        .preview{
            height: 100%;
            min-height: 415px;
            background: url({{ asset('/img/interview.jpg') }}) no-repeat;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            background-position: left !important;
        }

        @media (max-width: 48em) {
            .preview{
                min-height: 215px;
            }

        }

        .preview-podcast {
            height: 100%;
            min-height: 340px;
        }

        .profile-circle{
            width: 200px;
            height: 200px;
            margin: auto;
            border-radius: 50%;
            background: red;
            margin-top: 100px;

            background-repeat: no-repeat!important;
            background-size: cover !important;
            background-position: center !important;
        }
        .podcast-links {
            margin-top: 2em;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .podcast-links div{
            flex-grow: 1;
            align-self: center;
        }
        .podcast-links img{
            max-width: 60px;
        }

        .nuevo{
            margin-top: 1em;
            margin-left: 1em;
            width: 93px;
            height: 32px;

            background: #F9F9F9;
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 32px;
            /* identical to box height, or 20px */


            color: #0052B4;
        }

        .type-element{
            display: inline-block;
            height: 81px;
            width: 53px;
            background: #68DBD6;
            border-radius: 0px 0px 16px 16px;
        }

        .vid .type-element:after{
            content: "";
            background:url({{ asset('/img/inter-play.svg') }}) no-repeat center;
            width: 100%;
            height: 100%;
            display: block;
            background-size: 2em;

            background-position-y: 80%;
        }

        .pod .type-element:after{
            content: "";
            background:url({{ asset('/img/inter-podcast.svg') }}) no-repeat center;
            width: 100%;
            height: 100%;
            display: block;
            background-size: 1.5em;
            background-position-y: 80%;
        }

        .date-pub{
            display: inline-block;
            font-family: Gotham;
            font-size: 13px;
            line-height: 16px;
            position: absolute;
            margin-top: 2em;
            margin-left: 3em;

            /* Gray 4 */

            color: #BDBDBD;
        }

        .share{
            background:url({{ asset('/img/common/share.svg') }}) no-repeat center;
            width: 30px;
            height: 30px;
            float: right;
            margin-top: .5em;
            border-radius: 50%;
            box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.18);
        }
        .filters-entrevistas{
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            text-align: center;

            color: #0052B4;
            cursor: pointer;
        }

        #yt-player-modal{
            background: rgba(51,51,51,0.8);
            position: fixed;
            width: 100vw;
            height: 100vh;
            top: 0px;
            left: 0px;
            z-index: 9;
            display: none;
        }

        .show{
            display: block !important;
        }

        /* The Close Button */
        .close {
            color: white;
            position: absolute;
            top: 10px;
            left: 25px;
            font-size: 35px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }



        #player-yt{

            position: relative;
            margin-left: 50px;
            margin-top: 50px;
        }
    </style>
{% endblock %}
{% block customJs %}
<script>
    $('.filters-entrevistas').on('click',function(){

        filter = $(this).data('filter');
        console.log(filter);

        $('.grid-list .card-interview').removeAttr('hidden');
        if(filter!="*"){
            console.log($('.grid-list').find('.card-interview:not(.'+filter+')'))
            $('.grid-list').find('.card-interview:not(.'+filter+')').attr('hidden','');
        }

    })


</script>

<script>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
        //alert(1)
        player = new YT.Player('player-yt', {
            height: $(window).height() - 100,
            width: $(window).width() -100,
            videoId:'',
            playerVars: {
                'autoplay': 1,
                'origin' : 'http://marcomkt.local',
                'enablejsapi' : 1
            },
        });
    }

     $('.open-video').on('click',function(){
        url = $(this).data('video');
         var video_id =url.split('v=')[1];
         var ampersandPosition = video_id.indexOf('&');
         if(ampersandPosition != -1) {
             video_id = video_id.substring(0, ampersandPosition);
         }
        player.loadVideoById({videoId:video_id})
        player.playVideo()
        $('#yt-player-modal').addClass('show');

    })

    $('.close-yt').on('click',function(){
        player.stopVideo();
        $('#yt-player-modal').removeClass('show');

    })



</script>
{% endblock %}
{% block content %}
    <div class="bg-entrevista is-center">
        <h1 class="title-head">Las voces más icónicas
        </h1>
    </div>

<div class="content-wrapper">
    <div class="content">
        <h2 class=" is-center">Lado A de nuestra historia
        </h2>
        <div class="pure-g ">
            <div class="pure-u-1 is-center">
                <span class="subtitle-gothan">
                    Es en este espacio que que contamos nuestra historia. Podrás conocer cómo nos hemos formado, transformado y reinterpretado en éstos 25 años, gracias a personas icónicas que nos han acompañado en este gran viaje.
                </span>

                <span>
                    Esperamos que disfrutes cada momento. Déjanos tus comentarios, comparte y haznos saber tus comentarios.
                </span>

            </div>
        </div>

        <div class="pure-g is-center mvspace">
            <div class="pure-u-0-3 pure-u-lg-1-5 filters-entrevistas">&nbsp;</div>
            <div class="pure-u-1-3 pure-u-lg-1-5 filters-entrevistas" data-filter="pod">Podcasts</div>
            <div class="pure-u-1-3 pure-u-lg-1-5 filters-entrevistas" data-filter="vid">Entrevistas</div>
            <div class="pure-u-1-3 pure-u-lg-1-5 filters-entrevistas" data-filter="*">Todos</div>
            <div class="pure-u-0-3 pure-u-lg-1-5 filters-entrevistas">&nbsp;</div>
        </div>

        <div class="pure-g">
            <div class="pure-u-1 is-center grid-list">

                {% for interview in interviews %}
                    {% if(interview.tipo == 'V') %}
                        <div class="card-interview vid pure-g">
                            <div class="pure-u-1 pure-u-lg-1-2 preview" style="background: url({{ (interview.archivo)?interview.archivo:asset('/img/interview.jpg') }})">
                                <div class="nuevo">NUEVO!</div>
                                &nbsp;
                            </div>
                            <div class="pure-u-1 pure-u-lg-1-2 card-interview-content">
                                <div class="pure-u-1">
                                    <div class="type-element"></div>
                                    <div class="date-pub">
                                        Publicado el {{ interview.fecha_pub }}
                                    </div>
                                </div>
                                <h2 class="card-medios-t">
                                    {{ interview.titulo }}
                                </h2>
                                <span class="card-medios-st1">
                            Lorem ipsum dolor
                        </span>

                                <h3 class="card-medios-st2"><span class="person-violet-icon"></span> {{ interview.entrevistador }}</h3>

                                <p>
                                    {{ interview.descripcion }}
                                </p>
                                <div class="pure-u-1">
                                    <button data-video="{{ interview.url_1 }}" class="btn-mm blue open-video">Lorem Ipsun</button>
                                    <div class="share"></div>
                                </div>
                                <div class="vspace">

                                </div>
                            </div>

                        </div>

                    {% else %}
                        <div class="card-interview pod pure-g">
                            <div class="pure-u-1 pure-u-lg-1-2 preview-podcast">
                                <div class="nuevo">NUEVO!</div>
                                <div class="profile-circle"  style="background: url({{ (interview.archivo)?interview.archivo:asset('/img/interview.jpg') }})"></div>
                            </div>
                            <div class="pure-u-1 pure-u-lg-1-2 card-interview-content">
                                <div class="pure-u-1">
                                    <div class="type-element"></div>
                                    <div class="date-pub">
                                        Publicado el {{ interview.fecha_pub }}
                                    </div>
                                </div>
                                <h2 class="card-medios-t">
                                    {{ interview.titulo }}
                                </h2>
                                <span class="card-medios-st1">
                            Lorem ipsum dolor
                        </span>

                                <h3 class="card-medios-st2"><span class="person-violet-icon"></span> {{ interview.entrevistador }}</h3>

                                <p>
                                    {{ interview.descripcion }}
                                </p>
                                <div class="podcast-links">
                                    <div><a target="_blank" href="{{ interview.url_1 }}"><img src="{{ asset('/img/spotify.svg') }}"></a></div>
                                    <div><a  target="_blank" href="{{ interview.url_1 }}"><img src="{{ asset('/img/stitcher.svg') }}"></a></div>
                                    <div><a  target="_blank" href="{{ interview.url_1 }}"><img src="{{ asset('/img/itunes.svg') }}"></a></div>
                                </div>
                                <div class="pure-u-1">
                                    <div class="share"></div>
                                </div>
                                <div class="vspace"></div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}


            </div>
        </div>
    </div>




</div>

    <div id="yt-player-modal">
        <div id="player-wrapper">
            <span class="close close-yt">&times;</span>
            <div id="player-yt"></div>
        </div>
    </div>

{% endblock %}
