<div class="languaje-show lang-active mobile" style="padding: 1em;margin-top: .5em;width: 30%;position: fixed;background: white;right: 0px;top: 6em;z-index: 99;border-top-left-radius: 18px;border-bottom-left-radius: 18px; overflow: hidden; height: 44px">
    <div class="lang-es " style="width: 100%">
        <img style="max-width: 31%; margin-bottom: -3%; width: 33%; margin-left: 9%;" class="pure-img-responsive" src="{{ asset('/img/common/esp.svg') }}">
        <span class="languaje-tag">ESP</span>
    </div>

    <div class="other-lang" style="width: 100%; height: auto; margin-top: 10px; background-color: transparent">
        <div class="lang-en" style="margin-top: 5px">
            <img style="max-width: 28%; margin-bottom: -3%; width: 24%; margin-left: 9%;" class="pure-img-responsive" src="{{ asset('/img/common/eng.png') }}">
            <span class="languaje-tag">ENG</span>
        </div>
        <div class="lang-pt" style="margin-top: 5px">
            <img style="max-width: 28%; margin-bottom: -3%; width: 24%; margin-left: 9%;" class="pure-img-responsive" src="{{ asset('/img/common/por.png') }}">
            <span class="languaje-tag">BRS</span>
        </div>
    </div>

</div>
<div class="header">
    <div class="custom-wrapper pure-g" id="menu">
        <div class="pure-u-1-5 mobile" style="padding-left: 20px; padding-top: 20px">
            <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
        </div>
        <div class="pure-u-3-5 pure-u-lg-1-5 is-center" style=" height: 80px; padding-top: 10px">
            <a href="{{ path_for('home') }}" class="pure-menu-heading custom-brand" style="padding: 0px;"><img class="img-logo-head" src="{{ asset('/img/common/logoM25_YEARS.jpg') }}"></a>
        </div>
        <div class="deskt pure-u-lg-4-5 " style=" height: 60px; margin-top: 10px">
            <div class="pure-u-17-24">
                <div class="pure-g collapse-menu" style="margin-top : 0px;">
                    <div class="ext-link"><a target="_blank" href="http://marcomkt.com/#quienes">SOMOS MARCO</a></div>
                    <div class="ext-link"><a target="_blank" href="http://marcomkt.com/#donde">ESTAMOS PRESENTES</a></div>
                    <div class="ext-link"><a target="_blank" href="http://marcomkt.com/#quehacemos">SOLUCIONES</a></div>
                    <div class="ext-link"><a target="_blank" href="https://marcomkt.com/casos-de-exito/">CASOS DE EXITO</a></div>
                    <div class="ext-link"><a target="_blank" href="http://marcomkt.com/#clientes">CLIENTES</a></div>
                    <div class="ext-link"><a target="_blank" href="https://marcomkt.com/blog-es/">BLOG</a></div>
                    <div class="ext-link"><a target="_blank" href="http://marcomkt.com/#contacto">CONTACTO</a></div>

                </div>
            </div>
            <div class="pure-u-6-24" style="height: 100%;">
                <div class="pure-u-15-24" style="border-right: 1px solid #A0A0A0; padding-right: 1em;height: 100%;">
                    <span style="cursor: pointer; margin-top: 1em" class="open-main-menu arrow-circle-left"></span>
                    <div style="display: inline-block; position: absolute; margin-top: .9em">
                        Conocenos
                    </div>
                   {# <a target="_blank" href="https://marcomkt.com/">
                      <img class="pure-img-responsive" src="{{ asset('/img/common/logo-weboriginal.png') }}">
                    </a>#}
                </div>
                <div class="pure-u-8-24" >

                  <div class="pure-menu pure-menu-horizontal" style="z-index: 1;
position: relative;">

                      <div class="languaje-show lang-active" style="padding-bottom:  0px; margin-top: .5em; width: 80%; margin-left: 20%">
                          <div class="lang-es ">
                              <img style="max-width: 28%; margin-bottom: -3%; width: 24%; margin-left: 9%;" class="pure-img-responsive" src="{{ asset('/img/common/esp.svg') }}">
                              <span class="languaje-tag">ESP</span>
                          </div>

                          <div class="other-lang">
                              <div class="lang-en">
                                  <img style="max-width: 28%; margin-bottom: -3%; width: 24%; margin-left: 9%;" class="pure-img-responsive" src="{{ asset('/img/common/eng.png') }}">
                                  <span class="languaje-tag">ENG</span>
                              </div>
                              <div class="lang-pt">
                                  <img style="max-width: 28%; margin-bottom: -3%; width: 24%; margin-left: 9%;" class="pure-img-responsive" src="{{ asset('/img/common/por.png') }}">
                                  <span class="languaje-tag">POR</span>
                              </div>
                          </div>

                      </div>


                </div>






                </div>
            </div>
        </div>
        <div class="pure-u-1-5 mobile open-menu-mobile">
            <img style="padding: 1em; margin-top: 10px" class="mobile pure-img-responsive" src="{{ asset('/img/common/logo-weboriginal-mobile.png') }}">


        </div>


        <div class="pure-u-1 sub-menu " >
            <div class="pure-menu custom-can-transform pure-menu-horizontal">
                <div class="deskt pure-u-lg-1-24"></div>
                <div class="pure-u-1 pure-u-lg-4-24" style="color: white !important;">
                    Esta es nuestra historia</div>
                <div class="pure-u-1 pure-u-lg-2-24"><a href="{{ path_for('entrevistas') }}">Lado A</a></div>
                <div class="pure-u-1 pure-u-lg-4-24"><a href="{{ path_for('contamos') }}">Lado B</a></div>

            </div>

        </div>

        <div class="pure-g collapse-menu-mobile mobile" style="">
            <div class="pure-u-1"><a target="_blank" href="http://marcomkt.com/">HOME</a></div>
            <div class="pure-u-1"><a target="_blank" href="http://marcomkt.com/#quienes">SOMOS MARCO</a></div>
            <div class="pure-u-1"><a target="_blank" href="http://marcomkt.com/#donde">ESTAMOS PRESENTES</a></div>
            <div class="pure-u-1"><a target="_blank" href="http://marcomkt.com/#quehacemos">SOLUCIONES</a></div>
            <div class="pure-u-1"><a target="_blank" href="https://marcomkt.com/casos-de-exito/">CASOS DE EXITO</a></div>
            <div class="pure-u-1"><a target="_blank" href="http://marcomkt.com/#clientes">CLIENTES</a></div>
            <div class="pure-u-1"><a target="_blank" href="https://marcomkt.com/blog-es/">BLOG</a></div>
            <div class="pure-u-1"><a target="_blank" href="http://marcomkt.com/#contacto">CONTACTO</a></div>

        </div>
    </div>
</div>
