{% extends "base.twig" %}

{% block customCss %}
    <link rel="stylesheet" href="{{ asset('/css/layouts/cards.css') }}">
{% endblock %}
{% block content %}
<div class="vid-container">
    <video style="min-height: 100%; min-width: 100%;" loop muted autoplay>
        <source src="{{asset('/img/common/bg-video.mp4')}}" type="video/mp4">
        <source src="{{asset('/img/common/bg-video.webm')}}" type="video/webm">
        Your browser does not support the video tag.
    </video>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class=" is-center" style="text-transform: uppercase">Sonriendo al futuro
        </h2>
        <div class="pure-g">
            <div class="pure-u-1 is-center">
                <span class="subtitle-gothan">
                    La vida se entiende con el  pasado, pero
                    se vive en el futuro.
                    y hoy es un día para
                    crear el futuro.

                    Te invitamos a que revivas, junto con nosotros, los momentos que  han ido formando nuestra identidad.

                </span>

            </div>
        </div>

        <div class="pure-g is-center">

            <div class="pure-u-1 pure-u-lg-1-2">

                <div class="card ">
                    <div class="pure-u-1">
                        <img src="{{ asset('/img/no-contamos2.png') }}" alt="Avatar">
                    </div>
                    <div class="container">
                        <h3 class="is-center">Lado A de nuestra historia
                        </h3>
                        <p class="is-center">Acompáñanos a descubrir los momentos más icónicos y representativos en nuestra historia en voz de personalidades de la industria.
                        </p>
                        <a href="{{ path_for('entrevistas') }}" class="link-thumb">
                            <p class="is-center text-blue">Descubrir <span class="simple-arrow-right"></span></p>
                        </a>
                    </div>
                </div>


            </div>

            <div class="pure-u-1 pure-u-lg-1-2">

                <div class="card">
                    <div class="pure-u-1">
                        <img src="{{ asset('/img/no-contamos.png') }}" alt="Avatar">
                    </div>

                    <div class="container">
                        <h3 style="color: #27115B" class="is-center">Lado B de nuestra historia
                        </h3>
                        <p class="is-center">Disfruta de la versión que nosotros no contamos. Esta parte de la historia la haces tú, descrubre cómo.
                        </p>

                        <a href="{{ path_for('contamos') }}" class="link-thumb">
                            <p class="is-center text-blue">Descubrir <span class="simple-arrow-right"></span></p>
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>




</div>

{% endblock %}
