{% extends "base.twig" %}

{% block customCss %}
    <link rel="stylesheet" href="{{ asset('/css/isotope.css') }}">
    <style>
        h3{
            text-align: left;
        }

        .filter-buttom{
            width: 120px;
            height: 50px;
            padding: 1em;
            box-shadow: 1px 1px 20px rgba(39, 17, 91, 0.18);
            border-radius: 22px;
            line-height: 22px;
            cursor: pointer;

        }
        .filter-buttom.active,
        .filter-buttom:hover{
            background: #27115B;
            color: white;
        }

        @media (max-width: 48em) {
            .filter-buttom{
                width: 95px;
            }

        }



        .filters{
            margin-right: 1em;
            margin-bottom: 2em;
        }

        .filter-buttom img{
            width: 20px;
        }

        .audio-icon{
            background: #68DBD6;
            height: 141px;
        }

        .audio-icon:after{
            content: "";
            background:url({{ asset('/img/common/audio.svg') }}) no-repeat center;
            width: 100%;
            height: 100%;
            display: block;
            background-size: 3em;
        }

        .img-icon-small{
            width: 150px;
            height: 150px;
            background-size: auto 100% !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }

        .img-icon-big{
            width: 300px;
            height: 450px;
            background-size: auto 100% !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }

        .nota-icon{
            background: #27115B;
            height: 141px;
        }

        .nota-icon:after{
            content: "";
            background:url({{ asset('/img/common/lapiz.svg') }}) no-repeat center;
            width: 100%;
            height: 100%;
            display: block;
            background-size: 3em;
        }

        .video-icon{
            background: #0052B4;
            height: 141px;
        }

        .video-icon:after{
            content: "";
            background:url({{ asset('/img/common/video-circle.svg') }}) no-repeat center;
            width: 100%;
            height: 100%;
            display: block;
            background-size: 3em;
        }

        .bg-contamos{
            background: url({{ asset('/img/bg-contamos.jpg') }} ) no-repeat center / cover;
            height: 50vh;
            margin-top: -19px
        }

        .years {
            color : rgb(127, 140, 141);
        }

        .years-active {
            color : #68DBD6;
        }

        .grid-item{
            cursor: pointer;
            overflow: hidden;
        }

        .grid-item-content{
            display: none;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.27) -39.41%, #000000 100%);
            width: 100%;
            height: 100%;
            min-height: 150px;
            position: absolute;
            top: 0px;
            padding-left: 8px;
        }

        @media (max-width: 440px) {
            .grid-item img, .grid-item-content{
                min-height: 32.33vw;
            }
            .audio-icon, .nota-icon, .video-icon, .grid-item img, .grid-item-content{
                height: 32.33vw !important;
            }

            .scrolled {
                min-width: 0px;
            }
        }

        .grid-item:hover .grid-item-content{
            display: block;
        }

        h3.titulo{
            font-family: Gotham;
            font-weight: bold;
            font-size: 14px;
            line-height: 16px;;
            color: #FFFFFF;
            text-align: left;
        }

        .resume{
            font-family: Gotham;
            font-size: 12px;
            line-height: 14px;
            color: #FFFFFF;
            text-align: left;
            height: 50px;
            overflow: hidden;
        }

        .author{
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            line-height: 13px;
            text-align: left;
            /* or 18px */


            color: #A0A0A0;
        }

        .caption-container h3.titulo,.caption-container .resume{
            font-size: 14px;
            line-height: 16px;
        }

        .caption-container .author{
            font-size: 12px;
            line-height: 16px;
        }

        /*@media (max-width: 48em) {*/
        /*  .bg-contamos{*/
        /*      margin-top: 0px;*/
        /*  }*/
        /*}*/






        /* The Modal (background) */
        .modal {
            display: none;
            position: fixed;
            z-index: 3;
            padding-top: 50px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(51,51,51,0.9);

        }

        .thumbs img{
            width: 100px !important;
        }

        .thumbs div{
            float: left;
        }

        .thumbs{
            max-width: 800px;
            height: 150px;
            overflow-x: auto;
            margin: auto;

        }

        .scrolled{
            min-width: 800px;
        }
        .thumbs .column{
            width: 100px;
            height: 100px;
            margin: auto .5em;
            background-size: auto 100%  !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
        }

        .thumbs .column:hover{
            transform: translateY(-20px);
        }

        /* Modal Content */
        .modal-content {
            position: relative;
            margin: auto;
            padding: 0;
            width: 90%;
            max-width: 1200px;
        }

        /* The Close Button */
        .close {
            color: white;
            position: absolute;
            top: 10px;
            left: 25px;
            font-size: 35px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }

        .mySlides {
            display: none;
        }

        .cursor {
            cursor: pointer;
        }

        /* Next & previous buttons */
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        /* Number text (1/3 etc) */
        .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }

        .mySlides img{
            max-height: 55vh;

            width: auto !important;
            max-width: 100%;
            display: inherit;
            margin: auto;
        }

        img {
            margin-bottom: -4px;
        }

        .caption-container {
            text-align: center;
            padding: 2px 16px;
            color: white;
            max-width: 800px;
            width: 98%;
            margin: auto;
        }




        .social-shared{

        }
        img.hover-shadow {
            transition: 0.3s;
        }

        .hover-shadow:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
{% endblock %}

{% block customJs %}
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script src="{{ asset('/js/grid.js') }}" type="text/javascript"></script>

    <script>
        $('.filter-buttom').on('click',function(){
            filter = $(this).data('filter');
            $('.filter-buttom').removeClass('active');
            if(filter){
                $(this).addClass('active');
                $grid.isotope({ filter: '.'+filter });
            }else{
                $grid.isotope({ filter: '*' });
            }
        })
    </script>

<!-- SCRIPT Filtro de años -->
    <script>
    document.addEventListener('load', function () {
    let years = document.querySelectorAll('.year-filter');

    years[0].innerHTML =`

    {% for i in range(1995, 2019) %}
      <span>{{ i }}</span>
    {% endfor %}
    `;


    years.addEventListener('click', function(e) {
        console.log(e);
        years.classList.add("years");
        e.classList.add("years-active");
    })
    })

    </script>

    <script>

        $('.years').on('click',function(e){
            e.preventDefault();
            var href = $(this).attr('href');


            $('html,body').animate({scrollTop: $(href).offset().top},'slow');

        })
        function openModal() {
            document.getElementById("myModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("myModal").style.display = "none";
            $('#audio-player')[0].pause();
            $('.visualizador.video').find('video')[0].pause();
        }

        $('.thumbs').on('click','.icon-switch-audio',function(){
            var current = $(this).data('src')
            $('.visualizador.audio').find('source').attr('src',current);
            $('#audio-player')[0].load();
            $('#audio-player')[0].play();
        });

        $('.thumbs').on('click','.icon-switch-video',function(){
            var current = $(this).data('src')
            $('.visualizador.video').find('source').attr('src',current);

            $('.visualizador.video').find('video')[0].load();
            $('.visualizador.video').find('video')[0].play();
        });

        $('.grid-item.video').on('click',function(){
            $('.visualizador').removeClass('hidden');
            $('.visualizador:not(.video)').addClass('hidden');
            var current = $(this).data('src');
            var listado = $(this).parent('.grid').find('.video');
            var thumbList = "";
            var curId = 0;

            changeCaption("#"+$(this).attr('id'))
            $('.visualizador.video').find('source').attr('src',current);

            $('.visualizador.video').find('video')[0].load();
            $('.visualizador.video').find('video')[0].play();
            $(listado).each(function(i){
                var src = $(this).data('src');
                var idx = i+1;
                if(src == current){
                    curId = idx;
                }
                var id = "#"+$(this).attr('id');

                thumbList+= "<div class=\"column video-icon icon-switch-video\" data-id='"+id+"' data-src='"+src+"' style='display: inline-block'\"></div>"
                //thumbList+= "<div class=\"column audio-icon icon-switch-audio\" data-src='"+src+"' style='display: inline-block'\"></div>"
                if(i==(listado.length -1)){
                    $('.thumbs .scrolled').css('width',(listado.length * 120)+'px')
                    $('.thumbs .scrolled').html(thumbList);
                    currentSlide(curId);
                }
            })
        });

        $('.grid-item.image').on('click',function(){
            $('.visualizador').removeClass('hidden');
            $('.visualizador:not(.image)').addClass('hidden');
            //$('.image').removeClass
            var current = $(this).find('img').attr('src');
            var tipo = ($(this).hasClass('image'))?'.image':($(this).hasClass('video'))?'.video':'.audio';
            var listado = $(this).parent('.grid').find(tipo);
            var slideList = "";
            var thumbList = "";
            var curId = 0;

            changeCaption("#"+$(this).attr('id'));
            $(listado).each(function(i){
                imgsrc = $(this).find('img').attr('src');
                var idx = i+1;
                if(imgsrc == current){
                    console.log()
                    curId = idx;
                }
                var id = "#"+$(this).attr('id');
                slideList += "<div class=\"mySlides\"><img src=\""+imgsrc+"\" style=\"width:100%\"></div>";
                thumbList+= "<div class=\"column\" data-id='"+id+"' style='background: url("+imgsrc+")' onclick=\"currentSlide("+idx+")\"></div>"
                if(i==(listado.length -1)){
                    //console.log(slideList,thumbList, listado.length)
                    $('.slides').html(slideList);
                    $('.thumbs .scrolled').css('width',(listado.length * 120)+'px')
                    $('.thumbs .scrolled').html(thumbList);
                    $('#myModal').css('display','block');
                    currentSlide(curId);

                }
            })

        });

        $('.grid-item.audio').on('click',function(){
            $('.visualizador').removeClass('hidden');
            $('.visualizador:not(.audio)').addClass('hidden');
            var current = $(this).data('src')
            var listado = $(this).parent('.grid').find('.audio');
            var thumbList = "";
            var curId = 0;
            changeCaption("#"+$(this).attr('id'))
            $('.visualizador.audio').find('source').attr('src',current);
            $('#audio-player')[0].load();
            $('#audio-player')[0].play();
            $(listado).each(function(i){
                var src = $(this).data('src');
                var idx = i+1;
                if(src == current){
                    curId = idx;
                }
                var id = "#"+$(this).attr('id');
                thumbList+= "<div class=\"column audio-icon icon-switch-audio\"  data-id='"+id+"' data-src='"+src+"' style='display: inline-block'\"></div>"
                if(i==(listado.length -1)){
                    $('.thumbs .scrolled').css('width',(listado.length * 120)+'px')
                    $('.thumbs .scrolled').html(thumbList);
                    currentSlide(curId);
                }
            })
        });

        $('.grid-item.nota').on('click',function(){
            src = $(this).data('src');

            window.location.href = src;
        });

        $('.thumbs').on('click','.column',function () {
            var id = $(this).data('id');
            //alert(id);
            changeCaption(id);
        })

        function changeCaption(id){
            //alert('entro');
            $datos = $(id).find('.grid-item-content');

            var titulo =$datos.find('.titulo').html();
            var descrip =$datos.find('.resume').html();
            var author =$datos.find('.author').html();
            //console.log(titulo,descrip,author)
            $('.caption-container .titulo').html(titulo);
            $('.caption-container .resume').html(descrip);
            $('.caption-container .author').html(author);
        }

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
        }
    </script>

{% endblock %}

{% block content %}
<div class="bg-contamos is-center">
    <h1 class="title-head">¿Cuál es tu historia?</h1>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class=" is-center">Lado B de nuestra historia</h2>
        <div class="pure-g ">
            <div class="pure-u-1 is-center">
                <span class="subtitle-gothan">
                   Marco nos une y en definitiva, creemos en que los momentos que hemos vivido al ser parte de esta historia, nos hacen ser, amigos entrañables.


                </span>
                <br>
                <span class="subtitle-gothan">

                    ¡Diviértete reviviendo los momentos de esta gran historia!

                </span>

            </div>
        </div>
        <div class="pure-g mvspace">
            <div class="pure-u-1 is-center" style="margin-bottom: 20px">
                <div class="pure-u-1-4 pure-u-lg-1-6 filters">
                    <div class="filter-buttom video" data-filter="video">
                        <img src="{{ asset('/img/common/video-circle.svg') }}">
                        Videos
                    </div>
                </div>
                <div class="pure-u-1-4 pure-u-lg-1-6 filters">
                    <div class="filter-buttom foto" data-filter="image">
                        <img src="{{ asset('/img/common/image-circle.svg') }}">
                        Fotos
                    </div>
                </div>
                <div class="pure-u-1-4 pure-u-lg-1-6 filters">
                    <div class="filter-buttom notas"  data-filter="nota">
                        <img src="{{ asset('/img/common/notes-circle.svg') }}">
                        Notas
                    </div>
                </div>
                <div class="pure-u-1-4 pure-u-lg-1-6 filters">
                    <div class="filter-buttom audio"  data-filter="audio">
                        <img src="{{ asset('/img/common/audio-circle.svg') }}">
                        Audios
                    </div>
                </div>
                <div class="pure-u-1-4 pure-u-lg-1-6 filters">
                    <div class="filter-buttom is-center all"  data-filter=false>
                        Todas
                    </div>
                </div>
            </div>
            <div class="pure-u-1 pure-u-lg-3-5">

                <div class="pure-u-1">
                    <span class="text-mini-title">Filtrar por año</span>
                    <br>

                    <div class="year-filter">
                        {% for i in years %}
                            <a href = "#year-{{i}}" class="years"><span>{{i}}</span></a>
                        {% endfor %}
                    </div>

                  </div>


                <!-- GRID ENTERO MEZCLADO  -->

                {% for y,entries in entradas %}
                    <div class="pure-u-1 year-2019">
                        <h3 class="text-empha-blue" name="year-2019" id="year-{{ y }}">{{ y }}</h3>
                    </div>
                    <div class="grid">
                        <div class="grid-sizer"></div>
                            {% for entry in entries %}

                                {% if entry.tipo == 'vid' %}
                                    <div class="grid-item video" data-src="{{ asset(entry.archivo) }}" id="item-{{ entry.id }}" onclick="openModal();">

                                        <div  class="video-icon"></div>
                                        <div class="grid-item-content">
                                            <h3 class="titulo">
                                                {{entry.y}}<br>{{ entry.titulo }}
                                            </h3>

                                            <p class="resume">
                                                {{entry.descripcion}}
                                            </p>

                                            <p class="author">{{ entry.nombre }}</p>
                                        </div>
                                    </div>
                                {% elseif entry.tipo == 'img' %}
                                    <div class="grid-item image" id="item-{{ entry.id }}"  onclick="">
                                        <img src="{{ asset(entry.archivo) }}" />
                                        <div class="grid-item-content">
                                            <h3 class="titulo">
                                                {{entry.y}}<br>{{ entry.titulo }}
                                            </h3>

                                            <p class="resume">
                                                {{entry.descripcion}}
                                            </p>

                                            <p class="author">{{ entry.nombre }}</p>
                                        </div>
                                    </div>
                                {% elseif entry.tipo == 'aud' %}
                                    <div class="grid-item audio"  id="item-{{ entry.id }}" data-src="{{ asset(entry.archivo) }}" onclick="openModal();">
                                        <div  class="audio-icon"></div>
                                        <div class="grid-item-content">
                                            <h3 class="titulo">
                                                {{entry.y}}<br>{{ entry.titulo }}
                                            </h3>

                                            <p class="resume">
                                               {{entry.descripcion}}
                                            </p>

                                            <p class="author">{{ entry.nombre }}</p>
                                        </div>
                                    </div>
                                {% elseif entry.tipo == 'not' %}
                                    <div data-src="{{ path_for('notas',{'id':entry.id}) }}"  id="item-{{ entry.id }}" class="grid-item nota">
                                        <div  class="nota-icon"></div>
                                        <div class="grid-item-content">
                                            <h3 class="titulo">
                                                {{entry.y}}<br>{{ entry.titulo }}
                                            </h3>

                                            <p class="resume">
                                                {{entry.descripcion}}
                                            </p>

                                            <p class="author">{{ entry.nombre }}</p>
                                        </div>
                                    </div>
                                {% endif %}


                            {% endfor %}


                    </div>
                {% endfor %}
            </div>
            <div class="pure-u-1 pure-u-lg-2-5 deskt" style="text-align: right">
                <div class="contact" style="height: 378px; width: 90%; border-radius: 30px; background: url({{ asset('/img/common/bg-contact.svg') }}) no-repeat center / cover; display: inline-block">
                    <div style="width: 100%; margin-top: 3em;">
                        <h2 style="padding-left: 1.5em; padding-right: 2em;">Cuéntanos tu historia
                        </h2>
                    </div>
                    <div style="width: 100%;">
                        <h3 style="padding-left: 2.5em; padding-right: 2em;">Compartenos todos los momentos que quieras y revive esas experiencias.
                        </h3>
                    </div>

                    <div CLASS="is-center" style="width: 100%; margin-top: 44px;">
                        <button data-href="{{ path_for('contacto') }}" class="btn-mm">¡participa ahora!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>

    <div id="myModal" class="modal">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            <div class="visualizador slides image">

            </div>
            <div class="visualizador audio-player-wrapper pure-g audio" style="max-width: 600px; width: 90%; height: 300px; border-radius: 18px; margin: auto; overflow:hidden">
                <div class="player-title pure-u-1" style="background: white; height: 50%; padding-left: 2em">
                    <h3 style="font-family: Poppins;font-style: normal;font-weight: 600;font-size: 24px;line-height: 130.7%;/* or 31px */color: #333333;">Lorem ipsum dolor sit amet.</h3>
                    <p style="font-family: Poppins;font-style: normal;font-weight: 600;font-size: 14px;line-height: 130.7%;/* or 18px */color: #27115B;">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="player pure-u-1" style="width: 100%;height: 50%; background: #E0E0E0">
                    <div class="player-control">
                        <audio id="audio-player" controls preload="metadata" style=" width:90%; display: block; margin: auto; margin-top: 50px;">
                            <source src="">
                            Your browser does not support the audio element.
                        </audio>

                    </div>
                    <div class="social-shared">

                    </div>
                </div>

            </div>

            <div class="visualizador video">
                <video controls style=" width:90%; display: block; margin: auto;">
                    <source src="">
                </video>
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="caption-container">
                <h3 class="titulo">
                    1995 - Lorem ipsum dolor sit amet.

                </h3>
                <p class="resume">
                    Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </p>
                <div style="width: 100%; text-align: left">
                <span class="author">
                    <span class="person-gray-icon"></span> Lorem ipsum dolor sit amet.
                </span>
                </div>

            </div>

            <div class="thumbs">
               <div class="scrolled"></div>
            </div>

        </div>
    </div>
    <div class="pure-u-1 pure-u-lg-2-5 mobile" style="text-align: right">
        <div class="contact" style="height: 280px; width: 100%; background: url({{ asset('/img/common/bg-contacto-mob.svg') }}) no-repeat center / cover; display: inline-block">
            <div style="width: 100%; margin-top: 3em;">
                <h2 style="padding-left: 2em; padding-right: 2em;">Cuéntanos tu historia
                </h2>
            </div>
            <div style="width: 100%;">
                <h3 style="padding-left: 2em; padding-right: 2em;">Compartenos todos los momentos que quieras y revive esas experiencias.
                </h3>
            </div>

            <div CLASS="is-center" style="width: 100%; margin-top: 28px;">
                <button data-href="{{ path_for('contacto') }}" class="btn-mm">¡participa ahora!
                </button>
            </div>
        </div>
        <div style="    width: 100%; height: 50px"></div>
    </div>

{% endblock %}
