{% extends "base.twig" %}

{% block customCss %}
    <link rel="stylesheet" href="{{ asset('/css/isotope.css') }}">

{% endblock %}

{% block customJs %}


{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content">

        <div class="pure-g">
            <div class="pure-u-1">
                <a href="{{ path_for('contamos') }}">
                <span style="font-family: Poppins;font-style: normal;font-weight: 500;font-size: 16px;line-height: 114.7%;color: #27115B;">
                    Volver Lorem Ipsun/Notas/{{ nota.year }}
                </span>
                </a>
            </div>

            <div class="pure-u-1 pure-u-lg-3-5" style="min-height: 20em;">
                <div class="pure-g">
                    <div class="pure-u-1 " style="margin-bottom: 20px">
                        <h2 style="text-align: left">{{ nota.titulo }}</h2>
                        <span class="subtitle-gothan">
                            <span class="person-violet-icon"></span>  {{ nota.apellido }}, {{ nota.nombre }}
                        </span>
                    </div>

                    <div class="pure-u-1">
                        <p style="font-family: Gotham;font-style: italic;font-weight: normal;font-size: 14px;">{{ nota.fecha_pub }}</p>
                        <p>
                            {{ nota.descripcion }}
                        </p>
                    </div>
                    <div class="pure-u-1-2">
                        {% if(prev != "") %}
                            <a href="{{ path_for('notas',{'id':prev.id}) }}">
                                <p class="text-blue"><span class="simple-arrow-left"></span> Ver anterior nota </p>
                            </a>

                        {% endif %}
                    </div>
                    <div class="pure-u-1-2">
                        {% if(next != "") %}
                            <a href="{{ path_for('notas',{'id':next.id}) }}">
                                <p class="text-blue">Ver siguiente nota <span class="simple-arrow-right"></span></p>
                            </a>
                        {% endif%}
                    </div>
                </div>
            </div>
            <div class="pure-u-1 pure-u-lg-2-5 deskt" style="text-align: right">
                <div class="contact" style="margin-top:10em;height: 378px; width: 90%; border-radius: 30px; background: url({{ asset('/img/common/bg-contact.svg') }}) no-repeat center / cover; display: inline-block">
                    <div style="width: 100%; margin-top: 3em;">
                        <h2 style="padding-left: 1.5em; padding-right: 2em;">Cuéntanos tu historia
                        </h2>
                    </div>
                    <div style="width: 100%;">
                        <h3 style="padding-left: 2.5em; padding-right: 2em;">Compartenos todos los momentos que quieras y revive esas experiencias.
                        </h3>
                    </div>

                    <div CLASS="is-center" style="width: 100%; margin-top: 44px;">
                        <button data-href="{{ path_for('contacto') }}" class="btn-mm">¡participa ahora!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>


{% endblock %}
