<img width="300px" src="https://i.imgur.com/EIrWcdh.jpg">

<h3 style="color: #7f7f7f; font-size: 18px"><span style="color:#0070c0">{{ user.name }}</span> ya puedes ver en línea tu historia!</h3>

<a style="color:#0070c0; text-decoration: none;" href="{{ user.link }}">Ver las historia</a>

<p style="color:#7f7f7f; font-size: 14px">Sigue compartiendo más experiencias que recuerdes. Estaremos felices de seguir siendo el lugar común donde se generan momentos memorables.</p>

<p style="color:#7f7f7f; font-size: 14px">Gracias por seguir siendo parte de Marco Marketing.</p>

<p style="color:#7f7f7f; font-size: 14px">¡Sigamos celebrando estos 25 años!</p>
