<img width="300px" src="https://i.imgur.com/8qWA6kk.jpg">

<h3 style="color: #7f7f7f; font-size: 18px"><span style="color:#0070c0">{{ user.name }}</span> nos da mucho gusto haber recibido tu memoria.</h3>


<p style="color:#7f7f7f; font-size: 14px">Te contamos que la podrás ver en la línea de tiempo muy pronto. Agradecemos tu comprensión, ya que como te comentamos en el formulario, queremos cuidar que el espacio sea agradable para todos los que lo disfrutemos. </p>

<p style="color:#7f7f7f; font-size: 14px">En breve te haremos la notificación de que tu post ya está en línea.</p>

<p style="color:#7f7f7f; font-size: 14px">Te invitamos a seguir celebrando con más historias.</p>
