.card {
    transition: 0.3s;
    width: 90%;
    height: 480px;
    box-shadow: 1px 1px 20px rgba(39, 17, 91, 0.18);
    border-radius: 18px;
    margin: 2em auto;
    padding-top: 2em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
    width:10em;
}

.container {
    padding: 2px 16px;
}