.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    height: 480px;
    border-radius: 5px;
    margin: 2em auto;
    padding-top: 2em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}

.bg-entrevista{
    background: url('../../img/bg-entrevista.jpg') no-repeat center / cover;
    height: 50vh;
    margin-top: -30px;
}