@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Medium.otf);
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pure-g [class*=pure-u]{
    font-family: Poppins;
}



/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 13px;
}
a{
    text-decoration: none;
    color: #7f8c8d;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}

h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #0052B4;
}

h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130.7%;
    /* or 31px */

    text-align: center;

    color: #0052B4;

}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}



/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type]:not([type='checkbox']) {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
    background-color: #1f8dd6;
    color: white;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: #1f8dd6;
    border-radius: 5px;
    font-size: 120%;
}


/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
    background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.home-menu .pure-menu-selected a {
    color: white;
}

.home-menu a {
    color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
}


/*
 * -- SPLASH STYLES --
 * This is the blue top section that appears on the page.
 */

.vid-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 80vh;
    top: 0;
    left: 0;
    position: relative;
}

.splash {
    /* absolute center .splash within .splash-container */
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    min-height: 12%;
    z-index: 2;
    background: white;

}

/* We want to give the content area some more padding */
.content {
    padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
    color: white;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
    color: #1f8dd6;
}
    .content-subhead i {
        margin-right: 7px;
    }

/* This is the class used for the dark-background areas. */
.ribbon {
    background: #2d3e50;
    color: #aaa;
}

/* This is the class used for the footer */
.footer {
    background: linear-gradient(116.96deg, #0052B4 8.96%, #211A67 54.95%);
    position: relative;
    width: 100%;
    min-height:300px;
    padding: 2em;
}

.link-bold{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}

.mvspace{
    margin-top: 34px;
}

.link{

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}

.arrow-to-up{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    background-color: #68DBD6;
    position: absolute;
    right: 32px;
    cursor: pointer;
}



.arrow-to-up:after{
    content: "";
    background:url('../../img/common/arrow-up.png') no-repeat center;
    width: 100%;
    height: 100%;
    display: block;
    background-size: 1.5em;
}

.social-wrap{
    justify-content: center;
}

.social-item{
    width: 49px;
    height: 49px;
    float: left;
    margin-right: 1em;
    border-radius: 80px;
    background-color: #68DBD6;

}

.social-item div{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.social-item:hover{
    background: #FFF;
}

.social-item #yt{
    background: url("../../img/common/yt.svg");
}
.social-item #yt:hover{
    background: url("../../img/common/yt-hover.svg");
}
.social-item #fb{
    background: url("../../img/common/fb.svg");
}
.social-item #fb:hover{
    background: url("../../img/common/fb-hover.svg");
}
.social-item #ig{
    background: url("../../img/common/ig.svg");
}
.social-item #ig:hover{
    background: url("../../img/common/ig-hover.svg");
}
.social-item #ln{
    background: url("../../img/common/ln.svg");
}
.social-item #ln:hover{
    background: url("../../img/common/ln-hover.svg");
}
.social-item #tw{
    background: url("../../img/common/tw.svg");
}
.social-item #tw:hover{
    background: url("../../img/common/tw-hover.svg");
}

.social-item #bl{
    background: url("../../img/common/bl.svg");
    background-size: 2em;
}
/*.social-item #bl:hover{
    background: url("../../img/common/bl-hover.svg");
}*/

.no-margin-top{
    margin-top: 0px;
}

.no-margin-bottom{
    margin-bottom: 0px;
}

.mt-100{
    margin-top: 100px;
}

.footer .logo-area{
    margin-top:20px;
    margin-bottom: 20px;
}


.text-blue{
    font-family: Gotham;
    font-size: 14px;
    line-height: 130.7%;
    /* or 18px */
    text-align: center;
    color: #68DBD6;
}

.text-empha-black{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 112.7%;
    color: #333333;

}

.text-empha-blue{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130.7%;
    /* or 26px */


    color: #27115B;
}

.text-gray{
    font-family: Gotham;
    font-size: 15px;
    line-height: 18px;

    /* Gray 4 */
    background: #BDBDBD;
}

.text-mini-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: #68DBD6;
}

.card-interview-content{
    padding-left: 2em;
    padding-right: 2em;
    text-align: left;
}

.card-interview-content p{

}

.card-medios-t{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130.7%;
    /* or 31px */


    color: #333333;
    text-align: left;
}

.card-medios-st1{
    font-family: Gotham;
    font-size: 14px;
    line-height: 130.7%;
    /* or 18px */


    color: #0052B4;
    text-align: left;
}

.card-medios-st2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 130.7%;
    /* or 18px */


    color: #27115B;
    text-align: left;
}

p{
    font-family: Gotham;
    font-size: 13px;
    line-height: 15px;
}

.subtitle-gothan{
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
}

.contact h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 119.7%;

    color: #FFFFFF;
    text-align: left;
    padding-left: 30px;
}

.contact h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 125.7%;
    /* or 20px */
    color: #27115B;
    text-align: left;
    padding-left: 30px;

}

.btn-mm{
    min-width: 152px;
    height: 53px;
    padding-right: 1em;
    padding-left: 1em;
    background: #27115B;
    border-radius: 16px;
    color: transparent;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 130.7%;
    color: #68DBD6;
    border: none;
    cursor: pointer;
}

.btn-mm:hover{
    background: #0052B4;
    color: #27115B;
}
.btn-mm.blue{
    background-color: #0052B4;
}

.btn-mm.blue:hover{
    background-color: #68DBD6;
    color: #0052B4;
}

div[data-href]{
    cursor: pointer;
}


img {
    width:10em;
}

.vid-container{
    margin-top:-19px;
}

.logo-footer{
    width: 100%;
}

.accesos{
    margin-top: 50px;
}

.img-logo-head{
    margin-top: -10px;
    width: 190px;
}

.simple-arrow-right{
    display: inline-block;
    border:0.4em solid transparent;
    border-left-color: #68DBD6;
}

.simple-arrow-left{
    display: inline-block;
    border:0.4em solid transparent;
    border-right-color: #68DBD6;
}

.link-thumb p{
    margin-top: 60px;
}

#fake-chat{
    margin-top: -65px;height: 40px;width: 170px;border-radius: 17px 17px 0px 0px;background: #0052B4;position: absolute;right: 44px;text-align: center; z-index: 2;
}

.person-violet-icon{
    height: 1em;
    width: 1em;
    display: inline-block;
    background: url('../../img/common/person-violet.svg') no-repeat;
    background-size: contain;
}

.person-gray-icon{
    height: 1em;
    width: 1em;
    display: inline-block;
    background: url('../../img/common/person-grey.svg') no-repeat;
    background-size: contain;
}

.msg-icon{
    height: 1em;
    width: 1em;
    display: inline-block;
    background: url('../../img/common/msg-icon.svg') no-repeat;
    background-size: contain;
}

h1.title-head{
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 114.7%;
    /* or 50px */

    text-align: center;

    color: #FFFFFF;
    display: inline-block;
    margin: auto;
    padding-top: 22vh;
}




/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

    /* We can align the menu header to the left, but float the
    menu items to the right. */
    .home-menu {
        text-align: left;
    }
        .home-menu ul {
            float: right;
        }

    /* We increase the height of the splash-container */
/*    .splash-container {
        height: 500px;
    }*/

    /* We decrease the width of the .splash, since we have more width
    to work with */
    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }

    .footer{
        display: flex;
        flex-direction: row;
    }

    .social-wrap{
        order: 1;
        align-self: flex-end;
        margin-bottom: -20px;
    }

    .accesos{
        order: 2;
    }

    .accesos div{
        display: block;
        max-width: 200px;
        text-align: left;
        margin: auto;
    }

    .logo-area{
        order: 3;
    }

    .logo-area img{

        margin-top: 100px;
    }


    /* We remove the border-separator assigned to .l-box-lrg */
    .l-box-lrg {
        border: none;
    }

    .subtitle-gothan{
        font-family: Gotham;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #333333;
    }

    .logo-footer{
       width: 60%;
       margin-top: 50px;
    }

    .img-logo-head{
        width: 18em;
        margin-top: -17px;
    }

    #fake-chat{
        margin-top: -72px;
    }

}


/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {

    /* We increase the header font size even more */
    .splash-head {
        font-size: 300%;
    }


}
