#menu{
    height: 114px;
}

.custom-wrapper {
    background-color: #fff;
    margin-bottom: 1em;
    -webkit-font-smoothing: antialiased;
    height: 40px;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
}

.custom-wrapper.open {
    height: 13em !important;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 40px;
    position: relative;
    top: 0;
    right: 0;
    display: none;
}

.deskt{
    display: inline-block;
}

.mobile{display: none}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sub-menu{
    background-color: #0052B4;

}

.sub-menu a{
    color: white;
    text-decoration: none;
}

.collapse-menu{
    margin-top: 20px;
    padding-left: 1em;
    margin-left: 100%;
    overflow: hidden;
    transition: margin-left 0.5s;
}

.collapse-menu.open{
    margin-left: 0%;
}
.open-main-menu.open{
    transform: rotate(180deg);
}
.languaje-tag{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    padding-left: .5em;

    /* Gray 2 */

    color: #4F4F4F;
}

.ext-link{
    float: left;
    width: 25%;
    font-size: 11px;
    letter-spacing: 1px;

}

.arrow-circle-left{
    width: 21px;
    height: 21px;
    background-color: #E0E0E0;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1em;
}

.arrow-circle-left:after{
    content: "";
    background: url('../../img/common/arrow-left.svg') no-repeat center;
    width: 100%;
    height: 100%;
    display: block;
    background-size: 13px;

}

.pure-menu div{
    padding-top: 2px;
    padding-bottom: 2px;
}

.other-lang{
    background: white;
    width: 80%;
    position: absolute;
    height: 0px;
    display: block;
    overflow: hidden;
    transition: all .5s linear;
}
.lang-active:hover{

    background: #a0a0a0 !important;
}

.lang-active:hover .other-lang{
    cursor: pointer;
    height: auto;
}

.lang-active.mobile:hover{
    height: 137px !important;
}

@media (max-width: 47.999em) {

    #menu{
        height: 80px;
    }

    .custom-menu-3 {
        text-align: left;
    }

    .sub-menu{
        background-color: #27115B;
        padding-left: 2em;
    }

    .custom-toggle {
        display: block;
    }
    .mobile{
        display: block;
    }

    .deskt{
        display: none;
    }

    .collapse-menu-mobile{
        margin-top : 0px;
        z-index: 99;
        text-align: right;
        position: absolute;
        top: 73px;
        background: white;
        padding-right: 1em;
        height: 0px;
        overflow: hidden;
        transition: margin-left 0.5s;
    }

    .collapse-menu-mobile.open{
        height: 130px !important;
    }

    .mobile .ext-link{
        width: 100%;
        font-size: 11px;
        line-height: 15px;
        letter-spacing: 1px;

    }
}